<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Input Form</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='form.css') }}">
</head>
<body>
    <div class="container">
        <h1>Enter Input Data</h1>
    <form method="POST" action="/predictions">
        <label for="process_name">Process Name</label>
        <input type="text" name="process_name" required><br><br>

        <label for="memory_usage">Memory Usage:</label>
        <input type="number" name="memory_usage" required><br><br>

        <label for="disk_write_bytes">Disk Write Bytes:</label>
        <input type="number" name="disk_write_bytes" required><br><br>

        <label for="network_sent_bytes">Network Sent Bytes:</label>
        <input type="number" name="network_sent_bytes" required><br><br>

        <label for="system_cpu_usage">System CPU Usage:</label>
        <input type="number" name="system_cpu_usage" required><br><br>

        <label for="system_memory_usage">System Memory Usage:</label>
        <input type="number" name="system_memory_usage" required><br><br>

        <label for="system_disk_write_bytes">System Disk Write Bytes:</label>
        <input type="number" name="system_disk_write_bytes" required><br><br>

        <label for="system_network_sent_bytes">System Network Sent Bytes:</label>
        <input type="number" name="system_network_sent_bytes" required><br><br>

        <input type="submit" value="Predict">
        <button type="button" onclick="window.location.href='/'">Back to Home</button>
    </form>
    </div>

</body>
</html>
