<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home.css') }}">
</head>
<body>

    <div class="container">
        <h1>The Predictive System</h1>
        <p>This is a simple web application to predict resources based on input data.</p>
        <p>You can navigate to the following pages:</p>
        <button onclick="window.location.href='/predictions'">Predictions</button>
        <button onclick="window.location.href='/allocation'">Allocation</button>
        <button onclick="window.location.href='/realtime_stats'">Real Time</button>
    </div>

</body>
</html>
